.about-us {
  margin-bottom: 100px;
}

.about-us__container {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
}

.about-us__img {
  display: block;
  width: 100%;
  min-height: 724px;
}

.about-us__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53px 54px 0;
}

.about-us__list {
  display: flex;
  flex-direction: column;
}

.about-us__item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: var(--white);
  padding: 40px 0;
  display: grid;
  grid-template-columns: 58px 1fr;
  gap: 20px;
  align-items: center;
}

.about-us__item:not(:last-child) {
  border-bottom: 1px solid #55565a;
}

.about-us__item::before {
  content: '';
  display: block;
  width: 100%;
  height: 47px;
  background: url('../img/exclude.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 32px 52px;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark_2);
  outline: none;
  transition: background-color .3s ease;
}

.about-us__btn:hover {
  background-color: #f6df8f;
}

.about-us__btn:focus-visible {
  background-color: #b38705;
}

@media (max-width: 1800px) {
  .about-us__container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .about-us__btn {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .about-us__btn {
    padding: 22px 40px;
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .about-us {
    margin-bottom: 30px;
  }

  .about-us__container {
    gap: 10px;
  }

  .about-us__item {
    padding: 20px 0;
    font-size: 17px;
  }

  .about-us__img {
    min-height: 424px;
  }

  .about-us__card {
    padding: 23px 24px 0;
  }

  .about-us__btn {
    padding: 12px 40px;
    font-size: 13px;
  }
}


@media (max-width: 550px) {
  .about-us__img {
    min-height: 224px;
  }

  .about-us__item {
    padding: 10px 0;
    font-size: 10px;
  }

  .about-us__card {
    padding: 13px 14px 0;
  }
}