.bunner {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

.bunner__block-img {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: url('../img/pic_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bunner__block {
  position: relative;
  padding-top: 332px;
  width: 55%;
  z-index: 10;
}

.bunner__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 50px;
  width: 60%;
}

.bunner__descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 64px;
}

.bunner__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  margin-bottom: 40px;
}

.bunner__item {
  display: flex;
  align-items: center;
  gap: 17px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
  color: var(--white);
}

.bunner__item::before {
  content: '';
  display: block;
  background: url('../img/arrow_check.png');
  max-width: 39px;
  width: 100%;
  height: 37px;
}

.bunner__item span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.bunner__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 32px 50px;
  background-color: var(--white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark_2);
  outline: none;
  transition: background-color .3s ease;
}

.bunner__btn:hover {
  background-color: #f6df8f;
}

.bunner__btn:focus-visible {
  background-color: #b38705;
}

@media (max-width: 1400px) {
  .bunner__block {
    padding-top: 165px;
  }

  .bunner__title {
    font-size: 50px;
  }

  .bunner__descr {
    font-size: 30px;
  }

  .bunner__item {
    font-size: 20px;
  }

  .bunner__item span {
    font-size: 30px;
  }

  .bunner__list {
    gap: 20px;
  }

  .bunner__descr {
    margin-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .bunner {
    margin-bottom: 30px;
  }

  .bunner__block {
    width: 100%;
  }

  .bunner__descr {
    font-size: 25px;
  }

  .bunner__item span {
    font-size: 25px;
  }

  .bunner__btn {
    padding: 22px 40px;
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .bunner__block {
    padding-top: 110px;
  }

  .bunner__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .bunner__descr {
    font-size: 18px;
  }

  .bunner__btn {
    padding: 12px 40px;
    font-size: 13px;
  }

  .bunner__list {
    gap: 10px;
  }

  .bunner__item {
    font-size: 13px;
    gap: 7px;
  }

  .bunner__item span {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .bunner__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }
  
  .bunner__block-img {
    display: none;
  }

  .bunner__title {
    width: 100%;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .bunner__descr {
    width: 100%;
    font-size: 12px;
  }

  .bunner__list {
    width: 100%;
  }

  .bunner__item {
    font-size: 10px;
  }

  .bunner__item span {
    font-size: 15px;
  }

  .bunner__btn {
    width: 50%;
  }
}